.st-emotion-cache-1y4p8pa{
  max-width: 100%;
  padding-top: 15px;
}

.st-emotion-cache-18ni7ap{
  margin: 0px;
}

div.menu{
  border: 2px solid rgb(17, 16, 16);
}


.container-xxl.d-flex.flex-column.flex-shrink-0.p-h.nav-justified{
  background-color: rgb(26, 233, 102);
}